# Challenge: Promotions

In this challenge, you'll develop codes to parse and analyze data returned from another API on Zalando such as [Promos homme (Men's Promotions)
](https://www.zalando.fr/promo-homme/) or [Promos femme (Women's Promotions)](https://www.zalando.fr/promo-femme/). The workflow is almost the same as in the guided lesson but you'll work with different data.

## Obtaining the link

Wrote your codes in the cell below to obtain the data from the API endpoint you choose. A recap of the workflow:

1. Examine the webpages and choose one that you want to work with.

1. Use Google Chrome's DevTools to inspect the XHR network requests. Find out the API endpoint that serves data to the webpage.

1. Test the API endpoint in the browser to verify its data.

1. Change the page number offset of the API URL to test if it's working.

In [54]:
# your code here
import json
import requests as req
import pandas as pd
from pandas.io.json import json_normalize

In [72]:
resp=req.get('http://api.open-notify.org/astros.json')

print(resp.status_code) #imprimo el status, que será 200 si la conexión es correcta

200

## Reading the data

In the next cell, use Python to obtain data from the API endpoint you chose in the previous step. Workflow:

1. Import libraries.

1. Define the initial API endpoint URL.

1. Make request to obtain data of the 1st page. Flatten the data and store it in an empty object variable.

1. Find out the total page count in the 1st page data.

1. Use a FOR loop to make requests for the additional pages from 2 to page count. Append the data of each additional page to the flatterned data object.

1. Print and review the data you obtained.

In [56]:
# your code here

print(resp.json()) #Contenido de API de ejemplo

{'people': [{'craft': 'ISS', 'name': 'Andrew Morgan'}, {'craft': 'ISS', 'name': 'Oleg Skripochka'}, {'craft': 'ISS', 'name': 'Jessica Meir'}], 'message': 'success', 'number': 3}

In [57]:
type(list(resp.json()))
data=pd.DataFrame(resp.json())

data  #Datos obtenidos de API convertidos a dataframe

                                        people  message  number
0    {'craft': 'ISS', 'name': 'Andrew Morgan'}  success       3
1  {'craft': 'ISS', 'name': 'Oleg Skripochka'}  success       3
2     {'craft': 'ISS', 'name': 'Jessica Meir'}  success       3

In [58]:
def flatten(data, cols):
    for c in cols:
        fl=pd.DataFrame(dict(data[c])).T
        cols=[str(col) for col in fl.columns]
        fl.columns=[c+'_'+name for name in cols]
        data=pd.concat([data, fl], axis=1)
        data=data.drop(c, axis=1)
    return data

nested_cols=['people']

flat=flatten(data, nested_cols)

flat.head()

   message  number people_craft      people_name
0  success       3          ISS    Andrew Morgan
1  success       3          ISS  Oleg Skripochka
2  success       3          ISS     Jessica Meir

In [59]:
flat_json=pd.json_normalize(resp.json())

flat_json.head()

                                              people  message  number
0  [{'craft': 'ISS', 'name': 'Andrew Morgan'}, {'...  success       3

In [73]:
parameters={"lat":40.71, "lon":-74}
new_resp=req.get('http://api.open-notify.org/iss-pass.json', params=parameters)
print(new_resp.json())

{'message': 'success', 'request': {'altitude': 100, 'datetime': 1586212566, 'latitude': 40.71, 'longitude': -74.0, 'passes': 5}, 'response': [{'duration': 639, 'risetime': 1586213563}, {'duration': 622, 'risetime': 1586219377}, {'duration': 82, 'risetime': 1586225401}, {'duration': 540, 'risetime': 1586273822}, {'duration': 654, 'risetime': 1586279549}]}

In [80]:

flat_json=pd.json_normalize(new_resp.json())
flat_json

  #Datos obtenidos de API convertidos a dataframe

,message,response,request.altitude,request.datetime,request.latitude,request.longitude,request.passes
0,success,"[{'duration': 639, 'risetime': 1586213563}, {'...",100,1586212566,40.71,-74.0,5

In [79]:
#To print the number of people in space
print("Altitude:",flat_json['request.altitude'])

Altitude: 0    100
Name: request.altitude, dtype: int64

## Bonus

Extract the following information from the data:

* The trending brand.

* The product(s) with the highest discount.

* The sum of discounts of all goods (sum_discounted_prices divided by sum_original_prices).

In [ ]:
# your code here