In [1]:
import pandas as pd
import numpy as np

In [71]:
sharks=pd.read_csv('Sharks2.csv')

In [72]:
sharks2=sharks.copy()
sharks2.columns

Index(['Unnamed: 0', 'Case Number', 'Date', 'Year', 'Type', 'Country', 'Area',
       'Location', 'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal (Y/N)',
       'Time', 'Species', 'Investigator or Source', 'pdf', 'href formula',
       'href', 'Case Number.1', 'Case Number.2', 'original order', 'Extra1',
       'Extra2'],
      dtype='object')

In [73]:
sharks2['Investigator or Source'] = sharks2['Investigator or Source'].apply(lambda x: x.split(',')[0])

In [74]:
col_nulos=sharks2.isna().sum()  # columnas con nulos

col_nulos[col_nulos>0]

Type              19425
Country           19471
Area              19876
Location          19961
Activity          19965
Name              19631
Sex               19986
Age               22252
Time              22775
original order    19414
dtype: int64

In [75]:
sharks2['Age'].unique()

array(['57', '11', '48', nan, '18', '52', '15', '12', '32', '10', '21',
       '34', '30', '60', '33', '29', '54', '41', '37', '56', '19', '25',
       '69', '38', '55', '35', '46', '45', '14', '40s', '28', '20', '24',
       '26', '49', '22', '7', '31', '17', '40', '13', '42', '3', '8',
       '50', '16', '82', '73', '20s', '68', '51', '39', '58', 'Teen',
       '47', '61', '65', '36', '66', '43', '60s', '9', '72', '59', '6',
       '27', '64', '23', '71', '44', '62', '63', '70', '18 months', '53',
       '30s', '50s', 'teen', '77', '74', '28 & 26', '5', '86', '18 or 20',
       '12 or 13', '46 & 34', '28, 23 & 30', 'Teens', '36 & 26',
       '8 or 10', '84', '\xa0 ', ' ', '30 or 36', '6½', '21 & ?', '75',
       '33 or 37', 'mid-30s', '23 & 20', ' 30', '7      &    31', ' 28',
       '20?', "60's", '32 & 30', '16 to 18', '87', '67', 'Elderly',
       'mid-20s', 'Ca. 33', '74 ', '45 ', '21 or 26', '20 ', '>50',
       '18 to 22', 'adult', '9 & 12', '? & 19', '9 months', '25 to 35',
       '23 & 26', '1', '(adult)', '33 & 37', '25 or 28',
       '37, 67, 35, 27,  ? & 27', '21, 34,24 & 35', '30 & 32', '50 & 30',
       '17 & 35', 'X', '"middle-age"', '13 or 18', '34 & 19', '33 & 26',
       '2 to 3 months', 'MAKE LINE GREEN', ' 43', '81', '"young"',
       '7 or 8', '78', '17 & 16', 'F', 'Both 11', '9 or 10', 'young',
       '36 & 23', '  ', 'A.M.', '?    &   14', '10 or 12', '31 or 33',
       '2½', '13 or 14'], dtype=object)

In [76]:
sharks2['Age'] = np.select([sharks2['Age'].str.contains("[a-z]")==True], ['No age available'],sharks2['Age'])

In [77]:
sharks2['Age'] = np.select([sharks2['Age'].str.contains("[A-Z]")==True], ['No age available'],sharks2['Age'])

In [78]:
sharks2['Age']= sharks2['Age'].str.replace("?", "Unknown")

In [79]:
sharks2['Age'] = np.select([sharks2['Age'].str.contains("20U")==True], ['No age available'],sharks2['Age'])

In [80]:
sharks2['Age']=sharks2['Age'].fillna('No age available')

In [81]:
sharks2['Age'].unique()

array(['57', '11', '48', 'No age available', '18', '52', '15', '12', '32',
       '10', '21', '34', '30', '60', '33', '29', '54', '41', '37', '56',
       '19', '25', '69', '38', '55', '35', '46', '45', '14', '28', '20',
       '24', '26', '49', '22', '7', '31', '17', '40', '13', '42', '3',
       '8', '50', '16', '82', '73', '68', '51', '39', '58', '47', '61',
       '65', '36', '66', '43', '9', '72', '59', '6', '27', '64', '23',
       '71', '44', '62', '63', '70', '53', '77', '74', '28 & 26', '5',
       '86', '46 & 34', '28, 23 & 30', '36 & 26', '84', '\xa0 ', ' ',
       '6½', '21 & Unknown', '75', '23 & 20', ' 30', '7      &    31',
       ' 28', '32 & 30', '87', '67', '74 ', '45 ', '20 ', '>50', '9 & 12',
       'Unknown & 19', '23 & 26', '1', '33 & 37',
       '37, 67, 35, 27,  Unknown & 27', '21, 34,24 & 35', '30 & 32',
       '50 & 30', '17 & 35', '34 & 19', '33 & 26', ' 43', '81', '78',
       '17 & 16', '36 & 23', '  ', 'Unknown    &   14', '2½'],
      dtype=object)

In [82]:
import re 
sharks2['Age']=sharks2['Age'].str.replace('\s\s+', ' ', regex=True)

In [83]:
sharks2['Age'].unique() #Hasta aquí ya está arreglada la edad

array(['57', '11', '48', 'No age available', '18', '52', '15', '12', '32',
       '10', '21', '34', '30', '60', '33', '29', '54', '41', '37', '56',
       '19', '25', '69', '38', '55', '35', '46', '45', '14', '28', '20',
       '24', '26', '49', '22', '7', '31', '17', '40', '13', '42', '3',
       '8', '50', '16', '82', '73', '68', '51', '39', '58', '47', '61',
       '65', '36', '66', '43', '9', '72', '59', '6', '27', '64', '23',
       '71', '44', '62', '63', '70', '53', '77', '74', '28 & 26', '5',
       '86', '46 & 34', '28, 23 & 30', '36 & 26', '84', ' ', '6½',
       '21 & Unknown', '75', '23 & 20', ' 30', '7 & 31', ' 28', '32 & 30',
       '87', '67', '74 ', '45 ', '20 ', '>50', '9 & 12', 'Unknown & 19',
       '23 & 26', '1', '33 & 37', '37, 67, 35, 27, Unknown & 27',
       '21, 34,24 & 35', '30 & 32', '50 & 30', '17 & 35', '34 & 19',
       '33 & 26', ' 43', '81', '78', '17 & 16', '36 & 23', 'Unknown & 14',
       '2½'], dtype=object)

In [84]:
col_nulos=sharks2.isna().sum()  # columnas con nulos

col_nulos[col_nulos>0]

Type              19425
Country           19471
Area              19876
Location          19961
Activity          19965
Name              19631
Sex               19986
Time              22775
original order    19414
dtype: int64

In [85]:
sharks2['Time'] = np.select([sharks2['Time'].str.contains("[0-9]")==False], ['Uncertain'],sharks2['Time'])
sharks2['Time']=sharks2['Time'].fillna('Uncertain')

In [90]:
sharks2['Time'] = np.select([sharks2['Time'].str.contains("[A-Z]")==True], ['Uncertain'],sharks2['Time'])
sharks2['Time'] = np.select([sharks2['Time'].str.contains("-")==True], ['Uncertain'],sharks2['Time'])
sharks2['Time'] = np.select([sharks2['Time'].str.contains("/")==True], ['Uncertain'],sharks2['Time'])
sharks2['Time'] = np.select([sharks2['Time'].str.contains(">")==True], ['Uncertain'],sharks2['Time'])
sharks2['Time'] = np.select([sharks2['Time'].str.contains("after")==True], ['Uncertain'],sharks2['Time'])
sharks2['Time'] = np.select([sharks2['Time'].str.contains("before")==True], ['Uncertain'],sharks2['Time'])

In [95]:
sharks2['Time'] = np.select([sharks2['Time'].str.contains("or")==True], ['Uncertain'],sharks2['Time'])
sharks2['Time'] = np.select([sharks2['Time'].str.contains("to")==True], ['Uncertain'],sharks2['Time'])
sharks2['Time'] = np.select([sharks2['Time'].str.contains("<")==True], ['Uncertain'],sharks2['Time'])
sharks2['Time']=sharks2['Time'].str.replace(':', 'h')
sharks2['Time']=sharks2['Time'].str.replace('pm', '')
sharks2['Time'].unique()

array(['18h00', 'Uncertain', '07h45', '17h00', '14h00', '15h00', '08h15',
       '11h00', '10h30', '10h40', '16h50', '07h00', '09h30', '21h50',
       '09h40', '08h00', '17h35', '15h30', '07h30', '16h00', '15h01',
       '12h00', '13h45', '23h30', '09h00', '14h30', '18h30', '12h30',
       '16h30', '18h45', '06h00', '10h00', '10h44', '13h19', '13h30',
       '10h45', '11h20', '11h45', '19h30', '08h30', '15h45', '17h34',
       '17h10', '11h15', '08h50', '17h45', '13h00', '10h20', '13h20',
       '02h00', '09h50', '11h30', '17h30', '9h00', '10h43', '15h15',
       '15h40', '19h05', '1300', '22h00', '16h20', '14h34', '15h25',
       '14h55', '17h46', '15h49', '19h00', '10h15', '18h15', '04h00',
       '14h50', '13h50', '19h20', '10h25', '16h45', '15h52', '06h15',
       '14h40', '19h45', '10h10', '08h45', '12h10', '18h05', '11h41',
       '12h25', '17h51', '16h12', '12h45', '10h50', '14h15', '09h45',
       '06h45', '05h00', '03h30', '06h30', '17h20', '20h00', '16h40',
       '16h18', '11h10', '17h50', '17h01', '09h57', '08h20', '17h58',
       '20h30', '15h19', '10h55', '15h55', '23h00', '12h40', '13h55',
       '16h05', '14h10', '15h20', '12h50', '14h45', '13h40', '13h24',
       '0830', '11h40', '08h10', '15h56', '14h20', '07h56', '1600',
       '17h17', '16h35', '09h05', '07h15', '07h20', '19h28', '12h38',
       '05h50', '15h50', '11h05', '05h45', '13h25', '12h20', '13h26',
       '09h11', '12h15', '13h15', '18h20', '15h35', '13h51', '08h05',
       '19h15', '10h35', '15h44', '21h00', '15j45', '09h35', '10h27',
       '10h16', '0500', '09h20', '12h05', '14h21', '18h50', '15h53',
       '11h115', '13h42', '20h15', '12h39', '07h05', '13h05', '11h50',
       '17h55', '22h30', '17h15', '16h10', '11h30 ', '06h10', '16h15',
       '07h08', '03h00', '12h02', '12h55', '16h14', '17h11', '00h30',
       '14h37', '10h07', '13h53', '11h55', '13h23', '02h30', '08h40',
       '11h56', '14h35', '07h50', '14h25', '13h345', '06h47', '18h40',
       '13h14', '13h06', '12h34', '11h53', '8h04 ', '12h46', '12h48',
       '17h42', '12h35', '11h57', '17h40', '11h25', '18h25', '10h28',
       '09h15', '14h16', '09h55', '15h05', '09h30 ', '11h48', '07h19',
       '13h37', '11h06', '18h30?', '11h58', '11h51', '18h12', '07h10',
       '07h40', '12h33', '15h06', '12h54', '16h55', '05h40', '21h30',
       '08h57', '06j00', '08h35', '10h22', '02h45', '18h10', '08h55',
       ' 14h00', '06h50', '01h00', '07h32', '13h10', '19h35', '13h35',
       '01h32', '16h23', '15h00j', '19h10', '16h25', '1500', '19h55',
       '01h30', '05h30', '08h58', '01h50'], dtype=object)

In [112]:
sharks_type=sharks2.copy() #Checkpoint 
col_nulos=sharks_type.isna().sum()  

col_nulos[col_nulos>0]

Type              19425
Country           19471
Area              19876
Location          19961
Activity          19965
Name              19631
Sex               19986
original order    19414
dtype: int64

In [113]:
sharks_type['Type']=sharks_type['Type'].fillna('Unknown type')
sharks_type['Type'].unique()

array(['Boating', 'Unprovoked', 'Invalid', 'Provoked', 'Questionable',
       'Sea Disaster', 'Unknown type', 'Boat', 'Boatomg'], dtype=object)

In [114]:
sharks_type['Type'] = np.select([sharks_type['Type'].str.contains("[Bb]oat")==True], ['Boating'],sharks_type['Type'])
sharks_type['Type'].value_counts()

Unknown type    19425
Unprovoked       4595
Provoked          574
Invalid           547
Boating           341
Sea Disaster      239
Questionable        2
Name: Type, dtype: int64

In [115]:
sharks_type['Activity']=sharks_type['Activity'].fillna('Unknown activity')

In [116]:
sharks_type['Activity'] = np.select([sharks_type['Activity'].str.contains("[Ss]hark")==True], ['Shark disturbance'],sharks_type['Activity'])

In [117]:
sharks_type['original order']=sharks_type['original order'].fillna('Unknown order')

In [135]:
#Otro checkpoint donde sólo me faltan country,area,location,name y sex
sharks3=sharks_type.copy()
sharks3['Name']=sharks3['Name'].fillna('Unknown person')

In [136]:
conditions = [(sharks3['Name'] == 'Unknown person')]

choices = ['Not available']

sharks3['Sex'] = np.select(conditions, choices,sharks3['Sex'])

In [137]:
conditions = [(sharks3['Name'] == 'female')]

choices = ['F']

sharks3['Sex'] = np.select(conditions, choices,sharks3['Sex'])

In [138]:
conditions = [(sharks3['Name'] == 'male')]

choices = ['M']

sharks3['Sex'] = np.select(conditions, choices,sharks3['Sex'])

In [139]:
sharks3['Sex'].unique()

array(['F', 'M', 'Not available', nan, 'M ', 'lli', 'N'], dtype=object)

In [140]:
sharks3['Sex']=sharks3['Sex'].fillna('Not available')
sharks3['Sex']=sharks3['Sex'].str.replace('M ', 'M')
sharks3['Sex'].unique()

array(['F', 'M', 'Not available', 'lli', 'N'], dtype=object)

In [141]:
np.select(sharks3['Sex'] == 'lli', sharks3['Name'])

array('Brian Kang', dtype='<U222')

In [142]:
sharks3['Sex']=sharks3['Sex'].str.replace('lli', 'M')
sharks3['Sex'].unique()

array(['F', 'M', 'Not available', 'N'], dtype=object)

In [143]:
np.select(sharks3['Sex'] == 'N', sharks3['Name'])

array("18' boat, occupants William & Leslie Newton", dtype='<U222')

In [133]:
sharks3['Sex']=sharks3['Sex'].str.replace('', 'Not available')

In [144]:
sharks3['Sex'] = np.select([sharks3['Sex']=='N'], ['Not available'],sharks3['Sex'])
sharks3['Sex'].unique()

array(['F', 'M', 'Not available'], dtype=object)

In [145]:
sharks3['Name'] = np.select([sharks3['Name']=='female'], ['Jane Doe'],sharks3['Name'])
sharks3['Name'] = np.select([sharks3['Name']=='male'], ['John Doe'],sharks3['Name'])
sharks3['Name'].value_counts()

Unknown person              19631
John Doe                      550
Jane Doe                       97
boy                            23
2 males                        16
                            ...
Johnny Bower                    1
Heath Milne                     1
Melisa Brunning                 1
Gian Paolo Porta Casucci        1
Don White                       1
Name: Name, Length: 5231, dtype: int64

In [146]:
sharks3['Name'] = np.select([sharks3['Name'].str.contains('[bB]oy')==True], ['John Doe'],sharks3['Name'])
sharks3['Name'].value_counts()

Unknown person              19631
John Doe                      611
Jane Doe                       97
2 males                        16
boat                           14
                            ...
Heath Milne                     1
Melisa Brunning                 1
Gian Paolo Porta Casucci        1
Lydia Strunk                    1
Don White                       1
Name: Name, Length: 5197, dtype: int64

In [150]:
sharks3['Name'] = np.select([sharks3['Name'].str.len()<8], ['Unknown person'],sharks3['Name'])
sharks3['Name'] = np.select([sharks3['Name'].str.contains('sailor')==True], ['John Doe'],sharks3['Name'])
sharks3['Name'] = np.select([sharks3['Name'].str.contains('Anonymous')==True], ['Unknown person'],sharks3['Name'])
sharks3['Name'].value_counts()

Unknown person                           19943
John Doe                                   643
Jane Doe                                    97
a pearl diver                                6
fisherman                                    6
                                         ...
Gian Paolo Porta Casucci                     1
Lydia Strunk                                 1
Sadao Nakatus                                1
Colleen Chamberlin & Scott Chamberlin        1
Don White                                    1
Name: Name, Length: 4956, dtype: int64

In [151]:
sharks3['Name']=np.select([sharks3['Name'].str.split().str.len()<2], ['Unknown person'],sharks3['Name'])
sharks3['Name'].value_counts()

Unknown person            20011
John Doe                    643
Jane Doe                     97
a pearl diver                 6
a soldier                     5
                          ...
Patrick Turowski              1
12' boat of Alf Laundy        1
Johnny Bower                  1
Heath Milne                   1
Don White                     1
Name: Name, Length: 4900, dtype: int64

In [156]:
sharks3['Name'] = np.select([sharks3['Name'].str.contains('^a.*')==True], ['Unknown person'],sharks3['Name'])
sharks3['Name'] = np.select([sharks3['Name'].str.contains('[0-9]')==True], ['Unknown person'],sharks3['Name'])
sharks3['Name'] = np.select([sharks3['Name'].str.contains('[Ff]emale')==True], ['Jane Doe'],sharks3['Name'])
sharks3['Name'].value_counts()

Unknown person      20352
John Doe              643
Jane Doe              117
black male              4
Russian male            3
                    ...
Mark McCracken          1
Samuel Matthews         1
Cosimo Piccinni         1
Justin Schlaefli        1
Don White               1
Name: Name, Length: 4563, dtype: int64

In [157]:
sharks3['Name'] = np.select([sharks3['Name'].str.contains('[Mm]ale')==True], ['John Doe'],sharks3['Name'])

Unknown person                           20352
John Doe                                   728
Jane Doe                                   117
Andre Hartman                                3
Japanese diver                               3
                                         ...
Colleen Chamberlin & Scott Chamberlin        1
Sadao Nakatus                                1
Lydia Strunk                                 1
Gian Paolo Porta Casucci                     1
Don White                                    1
Name: Name, Length: 4488, dtype: int64

In [159]:
col_nulos=sharks3.isna().sum()  

col_nulos[col_nulos>0]

Country     19471
Area        19876
Location    19961
dtype: int64

In [160]:
sharks3.to_csv('Sharks3.csv')