In [1]:
import pandas as pd
import numpy as np

In [2]:
sharks_original=pd.read_csv('attacks.csv',encoding='ISO-8859-1')
sharks_original.head()
#ISO-8859-1

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [3]:
sharks_original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [4]:
sharks_original.shape

(25723, 24)

In [5]:
sharks_copy=sharks_original.copy()
sharks_copy.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [6]:
sharks_copy.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [7]:
col_nulos=sharks_copy.isna().sum()  # columnas con nulos

col_nulos[col_nulos>0]

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
Unnamed: 22               25722
Unnamed: 23               25721
dtype: int64

In [8]:
#Para las últimas dos columnas, reemplazo los valores Nulos por Unspecified
sharks_copy["Unnamed: 22"].fillna("Unspecified", inplace = True) 
sharks_copy["Unnamed: 23"].fillna("Unspecified", inplace = True)

In [9]:
#Renombrar columnas 22 y 23 como Extra1 y Extra2
sharks_copy.rename(columns={"Unnamed: 22": "Extra1", "Unnamed: 23": "Extra2"})

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Extra1,Extra2
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,Unspecified,Unspecified
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,Unspecified,Unspecified
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,Unspecified,Unspecified
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,Unspecified,Unspecified
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,Unspecified,Unspecified
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unspecified,Unspecified
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unspecified,Unspecified
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unspecified,Unspecified
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unspecified,Unspecified
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unspecified,Unspecified

In [10]:
sharks_copy['Year']=sharks_copy['Year'].fillna('Unknown')

In [11]:
sharks_copy.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,Unspecified,Unspecified
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,Unspecified,Unspecified
2,2018.06.09,09-Jun-2018,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,Unspecified,Unspecified
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,Unspecified,Unspecified
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,Unspecified,Unspecified

In [12]:
col_nulos=sharks_copy.isna().sum()  # columnas con nulos

col_nulos[col_nulos>0]

Case Number               17021
Date                      19421
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
dtype: int64

In [13]:
sharks_copy['pdf']=sharks_copy['pdf'].fillna('pdf not found')

In [14]:
col_nulos=sharks_copy.isna().sum()  # columnas con nulos

col_nulos[col_nulos>0]

Case Number               17021
Date                      19421
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
dtype: int64

In [15]:
sharks_cases=sharks_copy[['Case Number', 'Date']]
sharks_cases

      Case Number         Date
0      2018.06.25  25-Jun-2018
1      2018.06.18  18-Jun-2018
2      2018.06.09  09-Jun-2018
3      2018.06.08  08-Jun-2018
4      2018.06.04  04-Jun-2018
...           ...          ...
25718         NaN          NaN
25719         NaN          NaN
25720         NaN          NaN
25721         NaN          NaN
25722          xx          NaN

[25723 rows x 2 columns]

In [16]:
sharks_copy['Date']=sharks_copy['Date'].fillna('No date registered')

In [17]:
sharks_dates=sharks_copy.copy()

In [18]:
conditions = [(sharks_dates['Date'] == 'No date registered')]

choices = [sharks_dates['Date']]

sharks_dates['Case Number'] = np.select(conditions, choices,sharks_dates['Case Number'])

In [19]:
col_nulos=sharks_dates.isna().sum()  # columnas con nulos

col_nulos[col_nulos>0]

Case Number                   1
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
dtype: int64

In [20]:
sharks_dates['Case Number']=sharks_dates['Case Number'].fillna('No case')

In [21]:
col_nulos=sharks_dates.isna().sum()  # columnas con nulos

col_nulos[col_nulos>0]

Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
dtype: int64

In [22]:
sharks_dates['Fatal (Y/N)'].unique()

array(['N', 'Y', nan, 'M', 'UNKNOWN', '2017', ' N', 'N ', 'y'],
      dtype=object)

In [23]:
sharks_dates['Injury']=sharks_dates['Injury'].fillna('UNKNOWN')

In [24]:
sharks_dates['Injury'].value_counts()

UNKNOWN                                                                                        19449
FATAL                                                                                            802
Survived                                                                                          97
Foot bitten                                                                                       87
No injury                                                                                         82
                                                                                               ...
No injury to occupant. Kayak bitten by gaffed shark. PROVOKED INCIDENT                             1
No injury, shark became entangled in his surfboard leash                                           1
No injury to occupants, shark took a gaffed fish they were bringing aboard & hit their boat        1
Shark rammed kayak, no injury to occupant  PROVOKED INCIDENT                                       1
Injuries to arm, shoulder & chest, took 2 days to reach hospital                                   1
Name: Injury, Length: 3738, dtype: int64

In [25]:
sharks_dates["Injury"]= sharks_dates["Injury"].replace('fatal', "FATAL")

In [26]:
import re

In [27]:
conditions = [sharks_dates["Injury"].str.startswith('FAT')]

choices = 'Y'

sharks_dates['Fatal (Y/N)'] = np.select(conditions, choices,sharks_dates['Fatal (Y/N)'])

In [28]:
sharks_dates['Fatal (Y/N)'].value_counts()

N          4293
Y          1424
UNKNOWN      71
 N            7
N             1
M             1
2017          1
Name: Fatal (Y/N), dtype: int64

In [29]:
sharks_dates['Fatal (Y/N)']= sharks_dates['Fatal (Y/N)'].str.replace(' ', "")

In [30]:
sharks_dates['Fatal (Y/N)'].value_counts()

N          4301
Y          1424
UNKNOWN      71
M             1
2017          1
Name: Fatal (Y/N), dtype: int64

In [31]:
res=sharks_dates.index[sharks_dates['Fatal (Y/N)'] == 'M'].tolist()
res

[285]

In [32]:
sharks_dates['Fatal (Y/N)']= sharks_dates['Fatal (Y/N)'].str.replace('M', "N")

In [33]:
sharks_dates['Fatal (Y/N)'].value_counts()

N          4302
Y          1424
UNKNOWN      71
2017          1
Name: Fatal (Y/N), dtype: int64

In [34]:
sharks_dates['Fatal (Y/N)']= sharks_dates['Fatal (Y/N)'].str.replace('2017', "N")

In [35]:
sharks_dates['Fatal (Y/N)'].value_counts()

N          4303
Y          1424
UNKNOWN      71
Name: Fatal (Y/N), dtype: int64

In [36]:
conditions = [(sharks_dates['Injury'] == 'UNKNOWN')]

choices = [sharks_dates['Injury']]

sharks_dates['Fatal (Y/N)'] = np.select(conditions, choices,sharks_dates['Fatal (Y/N)'])

In [37]:
sharks_dates['Fatal (Y/N)'].value_counts()

UNKNOWN    19500
N           4303
Y           1423
Name: Fatal (Y/N), dtype: int64

In [38]:
sharks_dates['Fatal (Y/N)']=sharks_dates['Fatal (Y/N)'].fillna('N')

In [39]:
sharks_dates['Fatal (Y/N)'].value_counts()

UNKNOWN    19500
N           4800
Y           1423
Name: Fatal (Y/N), dtype: int64

In [40]:
col_nulos=sharks_dates.isna().sum()  # columnas con nulos

col_nulos[col_nulos>0]

Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Time                      22775
Species                   22259
Investigator or Source    19438
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
dtype: int64

In [41]:
sharks_dates['Case Number.1']=sharks_dates['Case Number']

In [42]:
sharks_dates['Case Number.2']=sharks_dates['Case Number']

In [43]:
col_nulos=sharks_dates.isna().sum()  # columnas con nulos

col_nulos[col_nulos>0]

Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Time                      22775
Species                   22259
Investigator or Source    19438
href formula              19422
href                      19421
original order            19414
dtype: int64

In [44]:
sharks_dates['href']=sharks_dates['href'].fillna('No href')
sharks_dates['href formula']=sharks_dates['href'].fillna('No href')

In [45]:
col_nulos=sharks_dates.isna().sum()  # columnas con nulos

col_nulos[col_nulos>0]

Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Time                      22775
Species                   22259
Investigator or Source    19438
original order            19414
dtype: int64

In [133]:
sharks_species=sharks_dates.copy()

In [134]:
sharks_species.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             25723 non-null  object
 1   Date                    25723 non-null  object
 2   Year                    25723 non-null  object
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  25723 non-null  object
 12  Fatal (Y/N)             25723 non-null  object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     25723 non-null  object
 17  href formula            25723 non-null  object
 18  href                    25723 non-null  object
 19  Case Number.1           25723 non-null  object
 20  Case Number.2           25723 non-null  object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             25723 non-null  object
 23  Unnamed: 23             25723 non-null  object
dtypes: float64(1), object(23)
memory usage: 4.7+ MB

In [135]:
list(sharks_species.columns.values)

['Case Number',
 'Date',
 'Year',
 'Type',
 'Country',
 'Area',
 'Location',
 'Activity',
 'Name',
 'Sex ',
 'Age',
 'Injury',
 'Fatal (Y/N)',
 'Time',
 'Species ',
 'Investigator or Source',
 'pdf',
 'href formula',
 'href',
 'Case Number.1',
 'Case Number.2',
 'original order',
 'Unnamed: 22',
 'Unnamed: 23']

In [136]:
sharks_species = sharks_species.rename(columns={'Sex ': 'Sex', 'Species ': 'Species','Unnamed: 22':'Extra1','Unnamed: 23':'Extra2'})
list(sharks_species.columns.values)

['Case Number',
 'Date',
 'Year',
 'Type',
 'Country',
 'Area',
 'Location',
 'Activity',
 'Name',
 'Sex',
 'Age',
 'Injury',
 'Fatal (Y/N)',
 'Time',
 'Species',
 'Investigator or Source',
 'pdf',
 'href formula',
 'href',
 'Case Number.1',
 'Case Number.2',
 'original order',
 'Extra1',
 'Extra2']

In [137]:
q=sharks_species['Species'].value_counts()
q

White shark                                           163
Shark involvement prior to death was not confirmed    105
Invalid                                               102
Shark involvement not confirmed                        88
Tiger shark                                            73
                                                     ...
60 cm to 90 cm [2' to 3'] shark                         1
Grey nurse shark, 8'                                    1
White shark, 2m to 3 m                                  1
1' to 4' shark                                          1
Nurse shark, 10'                                        1
Name: Species, Length: 1549, dtype: int64

In [138]:
sharks_species['Species']=sharks_species['Species'].str.replace(',', '')

In [139]:
q=sharks_species['Species'].value_counts()
q

White shark                                           163
Shark involvement prior to death was not confirmed    105
Invalid                                               102
Shark involvement not confirmed                        88
Tiger shark                                            73
                                                     ...
Blacktip reef shark pup                                 1
Bitten by several 1.8 m [6'] sharks                     1
1.8 m [6'] 136-kg [300-lb] shark                        1
3.5 to 4 m shark                                        1
Blue pointer 12'                                        1
Name: Species, Length: 1546, dtype: int64

In [140]:
sharks_species['Species'].unique()

array(['White shark', nan, '2 m shark', ..., "12' tiger shark",
       'Blue pointers',
       'Said to involve a grey nurse shark that leapt out of the water and  seized the boy but species identification is questionable'],
      dtype=object)

In [141]:
sharks_species['Species'].str.contains('^White.*')==True

0         True
1        False
2        False
3        False
4        False
         ...
25718    False
25719    False
25720    False
25721    False
25722    False
Name: Species, Length: 25723, dtype: bool

In [142]:
conditions = [sharks_species['Species'].str.contains('^White.*')==True]

choices = ['White shark']

sharks_species['Species'] = np.select(conditions, choices,sharks_species['Species'])

In [143]:
q=sharks_species['Species'].value_counts()
q

White shark                                                   435
Shark involvement prior to death was not confirmed            105
Invalid                                                       102
Shark involvement not confirmed                                88
Tiger shark                                                    73
                                                             ...
7 shark's teeth found embedded in the woodwork of the boat      1
Thought to involve a cookie cutter shark                        1
Possibly a 1.5 m [5'] blacktip or spinner shark                 1
Possibly white sharks                                           1
4.5 m [14'9"] white shark                                       1
Name: Species, Length: 1358, dtype: int64

In [144]:
conditions = [sharks_species['Species'].str.contains('^Tiger.*')==True]

choices = ['Tiger shark']

sharks_species['Species'] = np.select(conditions, choices,sharks_species['Species'])

In [145]:
q=sharks_species['Species'].value_counts()
q

White shark                                                                             435
Tiger shark                                                                             234
Shark involvement prior to death was not confirmed                                      105
Invalid                                                                                 102
Shark involvement not confirmed                                                          88
                                                                                       ...
4 to 5m white shark                                                                       1
234-lb shark                                                                              1
Said to involve a Grey nurse shark 3.7 m [12']                                            1
Shovelnose guitarfish adult male                                                          1
Said to involve a 1 m  white shark but thought  that it was more likely a blue shark      1
Name: Species, Length: 1252, dtype: int64

In [146]:
conditions = [sharks_species['Species'].str.contains('not confirmed')==True]

choices = ['No shark confirmed']

sharks_species['Species'] = np.select(conditions, choices,sharks_species['Species'])

In [147]:
q=sharks_species['Species'].value_counts()
q

White shark                                     435
Tiger shark                                     234
No shark confirmed                              224
Invalid                                         102
Shark involvement prior to death unconfirmed     68
                                               ...
Possibly a hammerhead shark                       1
Lemon shark                                       1
40-lb sand shark                                  1
1 m hammerhead shark                              1
Nurse shark. 5'                                   1
Name: Species, Length: 1236, dtype: int64

In [148]:
conditions = [sharks_species['Species'].str.contains('unconfirmed')==True]

choices = ['No shark confirmed']

sharks_species['Species'] = np.select(conditions, choices,sharks_species['Species'])

In [149]:
q=sharks_species['Species'].value_counts()
q

White shark                            435
No shark confirmed                     295
Tiger shark                            234
Invalid                                102
Bull shark                              52
                                      ...
Bitten by several 1.8 m [6'] sharks      1
Blacktip reef shark pup                  1
193-lb shark                             1
3.7 m [12'] sharks                       1
Possibly a 6' lemon shark                1
Name: Species, Length: 1232, dtype: int64

In [150]:
sharks_species['Species'].unique()

array(['White shark', nan, '2 m shark', ..., "12' tiger shark",
       'Blue pointers',
       'Said to involve a grey nurse shark that leapt out of the water and  seized the boy but species identification is questionable'],
      dtype=object)

In [151]:
conditions = [sharks_species['Species'].str.contains('tiger')==True]

choices = ['Tiger shark']

sharks_species['Species'] = np.select(conditions, choices,sharks_species['Species'])

In [152]:
conditions = [sharks_species['Species'].str.contains('white')==True]

choices = ['White shark']

sharks_species['Species'] = np.select(conditions, choices,sharks_species['Species'])

In [153]:
q=sharks_species['Species'].value_counts()
q

White shark                                                             660
No shark confirmed                                                      295
Tiger shark                                                             282
Invalid                                                                 102
Bull shark                                                               52
                                                                       ...
"sandshark"                                                               1
Bronze whaler shark 2.1 m [7'] a tooth was embedded in the speargun       1
"gray shark"                                                              1
Bronze whaler shark 3.7 m [12']                                           1
Lemon shark 0.5 m                                                         1
Name: Species, Length: 1056, dtype: int64

In [154]:
conditions = [sharks_species['Species'].str.contains('sand')==True]

choices = ['Sand shark']

sharks_species['Species'] = np.select(conditions, choices,sharks_species['Species'])

In [155]:
conditions = [sharks_species['Species'].str.contains('Bronze')==True]

choices = ['Bronze whaler shark']

sharks_species['Species'] = np.select(conditions, choices,sharks_species['Species'])

In [156]:
conditions = [sharks_species['Species'].str.contains('[Gg]ray')==True]

choices = ['Gray shark']

sharks_species['Species'] = np.select(conditions, choices,sharks_species['Species'])

In [157]:
conditions = [sharks_species['Species'].str.contains('[Ll]emon')==True]

choices = ['Lemon shark']

sharks_species['Species'] = np.select(conditions, choices,sharks_species['Species'])

In [158]:
sharks_species['Species']=sharks_species['Species'].fillna('Invalid')

In [159]:
conditions = [sharks_species['Species'].str.contains('[Ii]nvalid')==True]

choices = ['Unkown shark']

sharks_species['Species'] = np.select(conditions, choices,sharks_species['Species'])

In [160]:
q=sharks_species['Species'].value_counts()
q

Unkown shark                        22362
White shark                           660
No shark confirmed                    295
Tiger shark                           282
Bronze whaler shark                    60
                                    ...
[4' to 5']                              1
>1 m shark                              1
Mako shark 100-kg [221-lb]              1
Hammerhead shark?+O2356                 1
Raggedtooth shark 3.5 m [11.5']         1
Name: Species, Length: 971, dtype: int64

In [161]:
conditions = [sharks_species['Species'].str.contains('[Hh]ammer')==True]

choices = ['Hammerhead shark']

sharks_species['Species'] = np.select(conditions, choices,sharks_species['Species'])

In [162]:
conditions = [sharks_species['Species'].str.contains('[Bb]ronze')==True]

choices = ['Bronze whaler shark']

sharks_species['Species'] = np.select(conditions, choices,sharks_species['Species'])

In [163]:
conditions = [sharks_species['Species'].str.contains('[Rr]agged')==True]

choices = ['Ragged tooth shark']

sharks_species['Species'] = np.select(conditions, choices,sharks_species['Species'])

In [164]:
conditions = [sharks_species['Species'].str.contains('[Mm]ako')==True]

choices = ['Mako shark']

sharks_species['Species'] = np.select(conditions, choices,sharks_species['Species'])

In [165]:
conditions = [sharks_species['Species'].str.contains('^[0-9]')==True]

choices = ['Unknown shark']

sharks_species['Species'] = np.select(conditions, choices,sharks_species['Species'])

In [166]:
conditions = [sharks_species['Species'].str.contains('involvement')==True]

choices = ['No shark confirmed']

sharks_species['Species'] = np.select(conditions, choices,sharks_species['Species'])

In [167]:
conditions = [sharks_species['Species'].str.contains('Unkown')==True]

choices = ['Unknown shark']

sharks_species['Species'] = np.select(conditions, choices,sharks_species['Species'])

In [168]:
len(sharks_species['Species'].unique())

496

In [169]:
sharks_species['Species'] = np.select([sharks_species['Species'].str.contains('[Gg]rey')==True], ['Gray shark'],sharks_species['Species'])

In [170]:
sharks_species['Species'] = np.select([sharks_species['Species'].str.contains('[Bb]lue')==True], ['Blue shark'],sharks_species['Species'])

In [171]:
sharks_species['Species'] = np.select([sharks_species['Species'].str.contains('[Nn]urse')==True], ['Nurse shark'],sharks_species['Species'])

In [172]:
sharks_species['Species'] = np.select([sharks_species['Species'].str.contains('[Ss]aid')==True], ['Unknown shark'],sharks_species['Species'])

In [173]:
sharks_species['Species'] = np.select([sharks_species['Species'].str.contains('[Pp]ossibly')==True], ['Unknown shark'],sharks_species['Species'])

In [174]:
sharks_species['Species'] = np.select([sharks_species['Species'].str.contains('[Qq]uesti')==True], ['Unknown shark'],sharks_species['Species'])

In [175]:
sharks_species['Species'] = np.select([sharks_species['Species'].str.contains('[Bb]ull')==True], ['Bull shark'],sharks_species['Species'])

In [176]:
sharks_species['Species'] = np.select([sharks_species['Species'].str.contains('[Bb]lack')==True], ['Blacktip shark'],sharks_species['Species'])

In [177]:
sharks_species['Species'] = np.select([sharks_species['Species'].str.contains('[Ww]obbegong')==True], ['Wobbegong shark'],sharks_species['Species'])

In [178]:
sharks_species['Species'] = np.select([sharks_species['Species'].str.contains('[lL]eopard')==True], ['Leopard shark'],sharks_species['Species'])

In [179]:
sharks_species['Species'] = np.select([sharks_species['Species'].str.contains('^A')==True], ['Unknown shark'],sharks_species['Species'])

In [180]:
sharks_species['Species'] = np.select([sharks_species['Species'].str.contains('^No')==True], ['Unknown shark'],sharks_species['Species'])

In [228]:
sharks_species2=sharks_species.copy() #Checkpoint con menos tiburones

In [229]:
sharks_species['Species'] = np.select([sharks_species2['Species'].str.contains('^A.*')==True], ['Unknown shark'],sharks_species['Species'])

In [262]:
sharks_species2=sharks_species.copy() #Checkpoint 2

In [263]:
sharks_species2['Species'] = np.select([sharks_species2['Species'].str.contains('[Ss]and')==True], ['Sand shark'],sharks_species2['Species'])

In [264]:
sharks_species2['Species'] = np.select([sharks_species2['Species'].str.contains('[Zz]ambe[zs]i')==True], ['Zambezi shark'],sharks_species2['Species'])

In [265]:
sharks_species2['Species'] = np.select([sharks_species2['Species'].str.contains('[Cc]opper')==True], ['Copper shark'],sharks_species2['Species'])

In [266]:
sharks_species2['Species'] = np.select([sharks_species2['Species'].str.contains('[Cc]arpet')==True], ['Carpet shark'],sharks_species2['Species'])

In [267]:
sharks_species2['Species'] = np.select([sharks_species2['Species'].str.contains('[Dd]usky')==True], ['Dusky shark'],sharks_species2['Species'])

In [268]:
sharks_species2['Species']= sharks_species2['Species'].str.replace('"', "")

In [269]:
sharks_species2['Species'] = np.select([sharks_species2['Species'].str.contains('[Zz]ambesi')==True], ['Zambezi shark'],sharks_species2['Species'])

In [270]:
sharks_species2['Species']= sharks_species2['Species'].str.replace("'", "")  
sharks_species2['Species'] = np.select([sharks_species2['Species'].str.contains('^A.*')==True], ['Unknown shark'],sharks_species2['Species'])

In [271]:
sharks_species2['Species']= sharks_species2['Species'].str.replace(".", "")

In [272]:
sharks_species2['Species'] = np.select([sharks_species2['Species'].str.contains('[0-9]')==True], ['Unknown shark'],sharks_species2['Species'])

In [273]:
len(sharks_species2['Species'].unique())

94

In [274]:
sharks_species2['Species'] = np.select([sharks_species2['Species'].str.contains('[Uu]n')==True], ['Unknown shark'],sharks_species2['Species'])

In [275]:
sharks_species2['Species'] = np.select([sharks_species2['Species'].str.contains('small')==True], ['Unknown shark'],sharks_species2['Species'])

In [276]:
sharks_species2['Species'] = np.select([sharks_species2['Species'].str.contains('[Rr]epor')==True], ['Unknown shark'],sharks_species2['Species'])

In [277]:
sharks_species2['Species'] = np.select([sharks_species2['Species'].str.contains('[Rr]ecov')==True], ['Unknown shark'],sharks_species2['Species'])
sharks_species2['Species'] = np.select([sharks_species2['Species'].str.contains('[Ii]n')==True], ['Unknown shark'],sharks_species2['Species'])
sharks_species2['Species'] = np.select([sharks_species2['Species'].str.contains('[Bb]y')==True], ['Unknown shark'],sharks_species2['Species'])
sharks_species2['Species'] = np.select([sharks_species2['Species'].str.contains("xa0")==True], ['Unknown shark'],sharks_species2['Species'])

In [278]:

sharks_species2['Species'] = np.select([sharks_species2['Species'].str.contains("later")==True], ['Unknown shark'],sharks_species2['Species'])

In [280]:
sharks_species2['Species'] = np.select([sharks_species2['Species'].str.startswith("a")==True], ['Unknown shark'],sharks_species2['Species'])

In [288]:
sharks_species2['Species']= sharks_species2['Species'].str.replace("?", "")

In [290]:
sharks_species2['Species'] = np.select([sharks_species2['Species'].str.contains("small")==True], ['Unknown shark'],sharks_species2['Species'])
sharks_species2['Species'] = np.select([sharks_species2['Species'].str.contains("White")==True], ['White shark'],sharks_species2['Species'])
sharks_species2['Species'] = np.select([sharks_species2['Species'].str.contains("reef")==True], ['Reef shark'],sharks_species2['Species'])
sharks_species2['Species'] = np.select([sharks_species2['Species'].str.contains("[Tt]hresher")==True], ['Thresher shark'],sharks_species2['Species'])
sharks_species2['Species'] = np.select([sharks_species2['Species'].str.contains("Shovel")==True], ['Shovelnose shark'],sharks_species2['Species'])

In [292]:
sharks_sp=sharks_species2.copy() #Especies limpias!!

In [295]:
sharks_sp['Species']=sharks_sp['Species'].str.capitalize()

In [296]:
col_nulos=sharks_sp.isna().sum()  # columnas con nulos

col_nulos[col_nulos>0]

Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Time                      22775
Investigator or Source    19438
original order            19414
dtype: int64

In [297]:
sharks_sp['Investigator or Source']=sharks_sp['Investigator or Source'].fillna('No source or investigator')

In [298]:
sharks_sp.to_csv('Sharks2.csv')